<!-- completar_encuesta.html -->
{% extends 'base_logged_in.html' %}
{% load static %}	

{% block content %}
<div class="container">
    <h2>Completar Encuesta</h2>

    <p><strong>Encuesta para: </strong>{{ encuesta.negocio.nombre_negocio }}</p>
    <p><strong>Fecha de creación: </strong>{{ encuesta.fecha_respuesta|date:"d M Y" }}</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Renderiza el formulario dinámicamente -->

        <button type="submit" class="btn btn-primary">Enviar Encuesta</button>
    </form>
</div>
{% endblock %}
