/* Defini variables de color */
:root {
  --color-primary: #1D3C59;  /* Azul oscuro (texto y fondos clave) */
  --color-secondary: #00A9B8;  /* Azul suave (botones y detalles) */
  --color-background: #F5F5F5;  /* Fondo gris claro */
  --color-text: #333333;  /* Gris oscuro para texto principal */
  --color-light: #ffffff;  /* Blanco suave */
  --font-main: 'Poppins', sans-serif;  /* Fuente Poppins para toda la página */
}

/* Ajustes globales */
html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor principal */
main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

/* Barra de navegación minimalista */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;  /* Reducir el padding para hacerla más compacta */
  background-color: white;  /* Fondo naranja para visualizar el tamaño */
  height: 50px;  /* Establecer una altura fija para la barra */
}

.logo img {
  height: 40px;  /* Ajustar el tamaño del logo */
}

/* Modificamos los estilos del botón de login */
.login-button a {
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--color-secondary);
  color: var(--color-light) !important; /* Forzamos el color blanco */
  font-family: var(--font-main);
  font-size: 1rem;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 500;
  box-shadow: 0 3px 10px rgba(0, 169, 184, 0.2);
  transition: all 0.3s ease;
}

.login-button a:hover {
  background-color: var(--color-primary);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(29, 60, 89, 0.3);
}

/* Estilos para la Sección de Impacto */
.startup-impact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 70px);
  padding: 0 55px;
  background-color: transparent;
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.text-container {
  max-width: 650px;  /* Limitar el ancho del texto */
  text-align: left;
}

.text-container h1 {
  font-family: var(--font-main);
  font-size: 4rem;
  font-weight: 800;
  color: var(--color-primary);
  margin-bottom: 20px;
  line-height: 1.2;
}

.text-container p {
  font-family: var(--font-main);
  font-size: 1.3rem;
  color: var(--color-text);
  line-height: 1.8;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--color-secondary);
  color: var(--color-light);
  font-family: var(--font-main);
  font-size: 1rem;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 500;
  box-shadow: 0 3px 10px rgba(0, 169, 184, 0.2);
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: var(--color-primary);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(29, 60, 89, 0.3);
}

/* Imagen del celular, ajustamos el margen */
.image-container {
  flex: 1;
  text-align: left;
  margin-left: 40px;  /* Añadimos margen izquierdo */
}

.image-container img {
  width: 70%;
  height: 90vh;
  object-fit: cover;
}

/* Sección de impacto negocio */
.negocio-impact {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 55px;
  background-color: transparent;
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  overflow: hidden;
}

.negocio-impact .text-container {
  max-width: 650px;
  text-align: right;  /* Alineamos el texto a la derecha */
}

.negocio-impact .text-container h1 {
  font-family: var(--font-main);
  font-size: 4rem;
  font-weight: 800;
  color: var(--color-primary);
  margin-bottom: 20px;
  line-height: 1.2;
}

.negocio-impact .text-container p {
  font-family: var(--font-main);
  font-size: 1.3rem;
  color: var(--color-text);
  line-height: 1.8;
  margin-bottom: 30px;
}

.negocio-impact .cta-button {
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--color-secondary);
  color: var(--color-light);
  font-family: var(--font-main);
  font-size: 1rem;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 500;
  box-shadow: 0 3px 10px rgba(0, 169, 184, 0.2);
  transition: all 0.3s ease;
}

.negocio-impact .cta-button:hover {
  background-color: var(--color-primary);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(29, 60, 89, 0.3);
}

.negocio-impact .image-container {
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  margin-right: 40px;
}

.negocio-impact .image-container img {
  width: 70%;
  height: 90vh;
  object-fit: cover;
  transform: scaleX(-1);
}

/* Estilos para las olas del primer inicio */
.wave-container {
  position: absolute;
  width: 100vw;
  height: 89vh;
  overflow: hidden;
  z-index: -1;
  background-color: var(--color-background);
  left: 50%;
  transform: translateX(-50%);
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
  transform: translateY(160px);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 520'%3E%3Cpath fill='%2300A9B8' fill-opacity='0.1' d='M0,96L48,106C96,117,192,139,288,144C384,149,480,139,576,122C672,107,768,85,864,80C960,75,1056,85,1152,90C1248,96,1344,96,1392,96L1440,96L1440,520L1392,520C1344,520,1248,520,1152,520C1056,520,960,520,864,520C768,520,672,520,576,520C480,520,384,520,288,520C192,520,96,520,48,520L0,520Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 100% 100%;
}

.wave:nth-child(2) {
  bottom: 0;
  opacity: 0.3;
  height: 550px;
  transform: translateY(80px);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 520'%3E%3Cpath fill='%231D3C59' fill-opacity='0.1' d='M0,128L48,133C96,139,192,149,288,154C384,160,480,160,576,144C672,128,768,96,864,90C960,85,1056,107,1152,112C1248,117,1344,107,1392,101L1440,96L1440,520L1392,520C1344,520,1248,520,1152,520C1056,520,960,520,864,520C768,520,672,520,576,520C480,520,384,520,288,520C192,520,96,520,48,520L0,520Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 100% 100%;
}

.wave:nth-child(3) {
  bottom: 0;
  opacity: 0.2;
  height: 580px;
  transform: translateY(0);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 520'%3E%3Cpath fill='%2300A9B8' fill-opacity='0.1' d='M0,64L48,74C96,85,192,107,288,112C384,117,480,107,576,90C672,75,768,53,864,48C960,43,1056,53,1152,58C1248,64,1344,64,1392,64L1440,64L1440,520L1392,520C1344,520,1248,520,1152,520C1056,520,960,520,864,520C768,520,672,520,576,520C480,520,384,520,288,520C192,520,96,520,48,520L0,520Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 100% 100%;
}

/* Estilos para las manchas de la segunda sección */
.blob-container {
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-color: var(--color-background);
  left: 50%;
  transform: translateX(-50%);
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.2;
  transform: translate(-50%, -50%);
}

.blob-1 {
  width: 500px;
  height: 500px;
  background-color: var(--color-secondary);
  top: 60%;
  left: 30%;
  opacity: 0.15;
}

.blob-2 {
  width: 400px;
  height: 400px;
  background-color: var(--color-primary);
  top: 50%;
  left: 25%;
  opacity: 0.12;
}

.blob-3 {
  width: 600px;
  height: 600px;
  background-color: var(--color-secondary);
  top: 55%;
  left: 35%;
  opacity: 0.1;
}

/* Estilos para el footer */
footer {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 10px 0;
  margin-top: 5px;
  font-family: var(--font-main);
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cambiamos a 3 columnas fijas */
  gap: 40px;
  padding: 0 20px;
  justify-content: center;
}

/* Estilos para la sección del autor */
.author {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-light);
  margin-bottom: 10px;
}

/* Estilos actualizados para los iconos sociales */
.social-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 15px;
}

.social-links a {
  color: var(--color-light);
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-links a:hover {
  color: var(--color-secondary);
  transform: translateY(-3px);
}

/* Estilos para los iconos en la sección de contacto */
.footer-section ul li i {
  margin-right: 10px;
  color: var(--color-secondary);
}

/* Ajustes para centrar el contenido de cada sección */
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-section h3 {
  color: var(--color-secondary);
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-section p {
  color: #ffffff99;
  line-height: 1.6;
  font-size: 0.9rem;
  max-width: 300px; /* Limitamos el ancho del texto para mejor legibilidad */
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ffffff33;
  text-align: center;
}
