{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Plataforma FeedIA para obtener feedback rápido y medible a través de códigos QR en restaurantes y comercios.">
    <meta name="keywords" content="feedback, opiniones, IA, negocios, QR">
    <meta name="author" content="Mauricio Arce">

    <title>
        FeedIA - 
        {% block subtitle %}Inicio{% endblock %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/lateral_logged_in.css' %}">
    <link rel="stylesheet" href="{% static 'css/encuestas.css' %}">
    <link rel="stylesheet" href="{% static 'css/ver_encuestas.css' %}">
    <link rel="stylesheet" href="{% static 'css/empleados.css' %}">
    <link rel="stylesheet" href="{% static 'css/crear_encuesta.css' %}">
    <link rel="stylesheet" href="{% static 'css/reportes.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_c.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_b.css' %}">


    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/logo_feedia.png' %}" type="image/png">

    <!-- Fonts (si es necesario) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <header>
    </header>

    {% include 'navegacion_logged_in.html' %}

    <main>
        {% block content %}
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {% now "Y" %} FeedIA. Todos los derechos reservados.</p>
    </footer>

    <!-- Extra JS -->
    
</body>
</html>
