{% extends 'base.html' %}
{% load static %}

{% block subtitle %}Conocenos{% endblock %}

{% block content %}

  <!-- Sección de impacto startup -->
  <section class="startup-impact">
    <div class="text-container">
      <h1>¡Tu Feedback al Instante!</h1>
      <p>Completa encuestas y gana puntos en tiempo real con FeedIA. ¡Descubre cómo mejorar la experiencia de tus clientes!</p>
      <a href="{% url 'usuarios:register' %}" class="cta-button">Regístrate Ahora</a>
    </div>
    <div class="image-container">
      <img src="{% static 'img/fondo_celular.png' %}" alt="Ilustración de móvil completando encuesta" />
    </div>
  </section>

  <!-- Nueva sección para los botones de registro -->
  <section id="register-options" class="register-options">
    <h2>¿Estás listo para empezar?</h2>
    <a href="{% url 'usuarios:register' %}" class="cta-button">Registra tu Negocio</a>
    <a href="{% url 'usuarios:register' %}" class="cta-button">Regístrate como Usuario</a>
  </section>

{% endblock %}

<script>
  window.onscroll = function() {
    var navbar = document.querySelector('.navbar');
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
      navbar.classList.add('scrolled');
    } else {
      navbar.classList.remove('scrolled');
    }
  };
</script>