{% extends 'base.html' %}
{% load static %}

{% block subtitle %}Conócenos{% endblock %}

{% block content %}
  <!-- Contenedor de waves -->
  <div class="wave-container">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <!-- Sección de impacto usuario -->
  <section class="startup-impact">
    <div class="text-container">
      <h1>¡Rápido, Anónimo y Divertido!</h1>
      <p>Cada vez que compartes tu experiencia, ganas puntos que puedes canjear en tus negocios favoritos.</p>
      <p>Tu opinión es importante, y al completar encuestas, ayudas a mejorar los negocios mientras obtienes recompensas. ¿Qué esperas?</p>
      <a href="{% url 'usuarios:register' %}" class="cta-button">Comienza ya</a>
    </div>
    <div class="image-container">
      <img src="{% static 'img/fondo_celular.png' %}" alt="Ilustración de móvil completando encuesta" />
    </div>
  </section>

  <!-- Nueva sección para el negocio -->
  <section class="startup-impact negocio-impact">
    <!-- Contenedor de blobs -->
    <div class="blob-container">
        <div class="blob blob-1"></div>
        <div class="blob blob-2"></div>
        <div class="blob blob-3"></div>
    </div>
    
    <div class="text-container">
      <h1>Mejora tu Negocio con FeedIA</h1>
      <p>Con FeedIA, puedes obtener feedback valioso y en tiempo real de tus clientes, todo de forma sencilla.</p>
      <p>Optimiza la experiencia de tus clientes y crea una relacion que los fidelice.</p>
      <a href="{% url 'usuarios:register_business_user' %}" class="cta-button">Registra tu Negocio</a>
    </div>
    <div class="image-container">
      <img src="{% static 'img/fondo_celular.png' %}" alt="Ilustración de móvil completando encuesta" />
    </div>
  </section>
{% endblock %}
