{% load static %}

<nav>
    <ul>
        <!-- Logo de FeedIA como enlace -->
        <li><a href="{% url 'inicio' %}" {% if request.path == '/' %}class="active"{% endif %}>
            <img src="{% static 'img/Logo_feedia.png' %}" alt="FeedIA Logo" class="logo-feedia">
        </a></li>
        
        <!-- Enlaces de inicio de sesión -->
        <li><a href="{% url 'apps.negocios:iniciar_sesion' %}" {% if 'iniciar_sesion' in request.path %}class="active"{% endif %}>Iniciar sesión negocio</a></li>
        <li><a href="{% url 'apps.usuarios:usuario_login' %}" {% if 'usuario_login' in request.path %}class="active"{% endif %}>Iniciar sesión usuario</a></li>
    </ul>
</nav>


