{% load static %}
<div class="sidebar">
    <div class="logo-container">
        <img src="{% static 'img/Logo_feedia.png' %}" alt="Logo FeedIA" class="logo">
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'usuarios:home' %}">Inicio</a></li>
            
            {% if user.user_type == 'common' %}
                <!-- Opciones para el usuario común -->
                <li><a href="#">Canjear</a></li>
                <!-- Redirigir al usuario común a la página de completar encuesta -->
                <li><a href="{% url 'apps.encuestas.completar_encuesta' codigo_usuario=user.codigo_encuesta %}">Completar Encuesta</a></li>
            {% elif user.user_type == 'business' %}
                <!-- Opciones para el negocio -->
                <li><a href="#">Reportes</a></li>
                <li><a href="#">Administrar Puntos</a></li>
                <!-- Redirigir al negocio a la página de crear encuesta -->
                <li><a href="{% url 'apps.encuestas.crear_encuesta' %}">Generar Encuesta</a></li>
            {% endif %}
            
            <li><a href="{% url 'usuarios:logout' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
</div>
